{% extends "::base.html.twig" %}

{% block title %}AppBundle:Product:edit{% endblock %}

{% block body %}
<h1>Welcome to the Product:edit page</h1>
    <div class="row row-centered">
        <div class="form-window  row-centered col-md-8">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.ti) }}
            </div>
            <div class="form-group" >
                {{ form_widget(form.price) }}
            </div>
            <div class="form-group" >
                {{ form_widget(form.brand) }}
            </div>
            <div class="form-group" >
                {{ form_widget(form.quatity) }}
            </div>
            <div class="form-group" >
                {{ form_widget(form.category) }}
            </div>
            <input class="btn btn-success" type="submit" value="Submit">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
